In [39]:
import pandas as pd

df = pd.read_csv('c.csv')

In [40]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

## 1 (5)
Отважная исследовательница Анастасия занимается исследованием гигантских кальмаров

## 2-4 (20-22)
descriptive statistics

In [42]:
# 20 - 22

# .sum()
# .describe()
# .var()

type(df['Other_Sales'])

pandas.core.series.Series

In [43]:
type(df)

pandas.core.frame.DataFrame

In [44]:
df['Other_Sales'].head()

0    8.45
1    0.77
2    3.29
3    2.95
4    1.00
Name: Other_Sales, dtype: float64

In [45]:
pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})

   a  b
0  1  4
1  2  5
2  3  6

In [46]:
df[['Other_Sales', 'Global_Sales']].describe()

        Other_Sales  Global_Sales
count  16719.000000  16719.000000
mean       0.047332      0.533543
std        0.186710      1.547935
min        0.000000      0.010000
25%        0.000000      0.060000
50%        0.010000      0.170000
75%        0.030000      0.470000
max       10.570000     82.530000

In [47]:
df['Other_Sales'].describe()

count    16719.000000
mean         0.047332
std          0.186710
min          0.000000
25%          0.000000
50%          0.010000
75%          0.030000
max         10.570000
Name: Other_Sales, dtype: float64

In [48]:
df['Other_Sales'].mean()

0.04733177821640051

In [53]:
df['Other_Sales'].max()

10.57

In [54]:
df['Other_Sales'].median()

0.01

In [55]:
# disp
df['Other_Sales'].var()

0.034860585633821835

## 5 (23)
фильтр

In [68]:
df[df['Platform'] == 'PS2'].count()

Name               2161
Platform           2161
Year_of_Release    2127
Genre              2161
Publisher          2159
NA_Sales           2161
EU_Sales           2161
JP_Sales           2161
Other_Sales        2161
Global_Sales       2161
Critic_Score       1298
Critic_Count       1298
User_Score         1481
User_Count         1241
Developer          1481
Rating             1481
dtype: int64

In [51]:
my_series = df['Platform'] == 'PS2'
my_series.head()

0    False
1    False
2    False
3    False
4    False
Name: Platform, dtype: bool

In [50]:
type(my_series)

pandas.core.series.Series

In [54]:
my_series.values, type(my_series.values)

(array([False, False, False, ..., False, False, False]), numpy.ndarray)

In [55]:
my_series.index, type(my_series.index)

(RangeIndex(start=0, stop=16719, step=1), pandas.core.indexes.range.RangeIndex)

## 6 (24)
Добавьте в таблицу новый признак

In [ ]:
df['new_column'] = df['EU_Sales'] + df['NA_Sales']
df['new_column'].std()

In [74]:
newcol_not_in_table = df['JP_Sales'] / df['Global_Sales']
newcol_not_in_table.mean()

0.24335738754241673

In [ ]:
df.head()

## 7 (25)
Filter + statistics: Вычислите средний агрегированный рейтинг команды Metacritic для игр, выпущенных (published) компаниями Tecmo Koei или Wanadoo

In [38]:
my_filter = (df['Publisher'] == 'Tecmo Koei') | (df['Publisher'] == 'Wanadoo')
df[my_filter]['Critic_Score'].mean()

65.60135135135135

## 8 (26)
Определите количество пропущенных значений признака

In [20]:
df['Developer'].isna()

0        False
1         True
2        False
3        False
4         True
         ...
16714     True
16715     True
16716     True
16717     True
16718     True
Name: Developer, Length: 16719, dtype: bool

In [21]:
df['Developer'].isna().sum()

6623

## 9 (27)
Замените пропущенные значения...  Выпишите количество значений этой переменной, равных её моде.

In [22]:
new_col = df['Developer'].fillna(df['Developer'].mode()[0])
new_col.value_counts().head(1)

Developer
Ubisoft    6827
Name: count, dtype: int64

In [24]:
(new_col == new_col.mode()[0]).sum()

6827

In [29]:
df['Developer'].isna().sum() + (df['Developer'].mode()[0] == df['Developer']).sum()

6827